@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,regular,700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    background-color: #000000;
}

.nav-container {
    background-color: #FF8400;
    height: 80px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.nav-main {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-main h1 {
    color: #FFFFFF;
    font-size: 36px;
}

.contact-link {
    color: #FFFFFF;
    cursor: pointer;
}

/* =========== Form ============== */
.form-container {
    width: 100%;
    padding: 40px 20px;
}

.card-form {
    background-color: #333333;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 20px;
}

.form-control {
    margin-bottom: 20px;
}

.form-control label {
    display: none;
}

.error-message {
    margin-top: 5px;
    color: #8F2A33;
}

.form-input {
    height: 50px;
    width: 100%;
    border-radius: 4px;
    padding: 0 20px;
    font-size: 16px;
    border: none;
}

.form-input::placeholder {
    color: #C9C9C9;
}

.form-input:disabled {
    background-color: #DDDDDD;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 250px;
    height: 50px;
    background-color: #FF8400;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
}

.btn-left {
    margin-right: 10px;
}

.btn-right {
    margin-left: 10px;
}

/* =========== Cards =========== */
.list-container {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-list-item {
    background-color: #333333;
    color: #fff;
    margin-bottom: 20px;
    width: min(100%, 900px);
    border-radius: 8px;
    padding: 20px;
}

.card-list-item > h3 {
    color: #FF8400;
    font-size: 18px;
}

.card-list-item .address-street {
    color: #FFFFFF;
    font-size: 16px;
}

.card-list-item .address-cep {
    color: #8F8F8F;
    font-size: 14px;
}